$fuentePrincipal: sans-serif;

$primario: #f3f3f3;
// $secundario: #313c4e;
$blanco: #fff;
$negro: #000;
$negro: #000;
$rojo: #ff385c;
$rojoFuerte: #bd1e59;

$separacion: 5rem;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;