@use '../base/variables' as v;
@use '../base/mixins' as m;

.avif .header {
    background-image: url('../img/header.avif');
}

.webp.notavif .header {
    background-image: url('../img/header.webp');
}

.notwebp.notavif .header {
    background-image: url('../img/header.jpg');
}

.header {
    padding: 2.5rem 0;
    background-position: center top;
    &__menu {
        display: none;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
        }
        p {
            color: v.$blanco;
            margin: 0;
            font-weight: 300;
        }


    }
    &__logo,
    &__anfitrion {
        
    }

    &__anfitrion {
        text-transform: capitalize;
    }
}

.menu {
    ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin: 0;
        li {
            margin: 0;
        }
    }
}
