@use '../base/variables' as v;
@use '../base/mixins' as m;

.avif .header {
    background-image: url('../img/header.avif');
}

.webp.notavif .header {
    background-image: url('../img/header.webp');
}

.notwebp.notavif .header {
    background-image: url('../img/header.jpg');
}

.header {
    padding: 3rem 0 20rem;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include m.tablet { 
        padding: 3rem 0 20rem;
    }
    &__menu {
        display: none;
        @include m.tablet { 
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        p {
            color: v.$blanco;
            font-size: 1.6rem;
            margin: 0;
        }
    }

    &__logo {
        p {
            font-size: 2rem;
        }
    }

    &__anfitrion {
        text-transform: capitalize;
    }
}

.menu {
    ul {
        display: flex;
        gap: 4rem;
        margin: 0;

        p {
            font-size: 1.6rem;
        }
    }
}