@use '../base/variables' as v;
@use '../base/mixins' as m;

.form {
    margin: 5rem 0 2rem;
    padding: 0;
    &__content {
        border: none;
        background-color: v.$blanco;
        border-radius: 5rem;
        box-shadow: 0 3px 7px #686868;
        padding: 3rem 0;
        width: 100%;
        margin: 0 auto;

        @include m.desktop { 
            display: flex;
            padding: 0;
            justify-content: space-between;
            max-width: 90rem;
            width: 100%;
            margin: 0 auto;
        }
    }

    &__campo {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        transition: all 0.1s;
        @include m.tablet { 
            &:first-of-type {
                padding-left: 4rem;
            }
            
        }

        &:hover {
            background-color: v.$primario;
            border-radius: 5rem;
            box-shadow: 0 3px 7px #686868;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 900;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"] {
        color: #767676;
        border: none;
        width: 100%;
    }

    &__btn {
        background-image: radial-gradient(circle, v.$rojo, v.$rojoFuerte);
        height: 4rem;
        color: v.$blanco;
        border: none;
        border-radius: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 0 2rem;

    }
}

.busqueda {
    text-align: center;
    width: 100%;
    margin: v.$separacion 0 0;

    @include m.desktop {
        margin: 30rem 0 0;    
    }

    &__title {
        font-size: 2rem;
        font-weight: 400;
        margin: 2rem 0;
    }

    &__btn {
        display: inline-block;
        color: v.$rojo;
        background-color: v.$blanco;
        text-transform: capitalize;
        padding: 2rem 4rem;
        border-radius: 5rem;
        font-weight: 700;
        font-size: 2rem;
        width: 100%;
        text-align: center;

        @include m.tablet { 
            width: auto;
            margin-top: 1rem;
        }
    }


}