@use '../base/variables' as v;
@use '../base/mixins' as m;

.hero {
    .form {
        &__content {
            background-color: v.$blanco;
            border: none;
            border-radius: 5rem;
            padding: 3rem 0;
            @include m.tablet {
                display: flex;
                padding: 0;
                align-items: center;
                justify-content: space-between;
                max-width: 90rem;
                margin: 3rem auto 0;
            }
        }

        &__label {
            display: block;
            font-weight: 900;
        }

        input {
            display: block;
            width: 100%;
            border: none;
        }

        &__campo {
            padding: 1rem 2rem;
            &:hover {
                border-radius: 5rem;
                background-color: #f0f0f0;
                box-shadow: 0 6px 20px rgba(0, 0, 0, .4);
            }
            @include m.tablet {
                padding: 1rem 2rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        &__label {
            display: block;
            font-size: 1.2rem;
            @include m.tablet {
                font-size: 1.6rem;
            }
        }

        &__btn {
            padding: 1.5rem 2rem;
            border-radius: 2rem;
            text-transform: uppercase;
            background-image: radial-gradient(circle at center, v.$rojo, v.$rojoFuerte);
            color: v.$blanco;
        }
    }


}