@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    background-color: v.$primario;
    padding: 5rem 0 0;
    .menu-list {
        @include m.tablet {
            @include m.grid(2, 2rem);
        }

        @include m.desktop {
            @include m.grid(4, 2rem);
        }
    }

    .nav__title {
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
        margin: 2rem 0;
    }

    .nav__a {
        display: block;
        color: #686868;
        font-size: 1.4rem;
        margin-bottom: 1rem;
        text-transform: capitalize;
    }

    .menu__horizontal {
        border-top: 1px solid #cecece;
        ul {
            padding: 2rem 0;
            margin: 0;

            @include m.tablet {
                display: flex;
                flex-direction: row;
                gap: 2rem;
            }
        }

        li {
            display: flex;
            &::before {
                display: block;
                content: " - ";
                margin-right: 0.5rem;
            }
        }
    }
}