@use '../base/variables' as v;
@use '../base/mixins' as m;

.alojamientos {
    padding: 2rem 0;
    &__title {
        margin: 2rem 0;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 1.5;
    }

    &__cards {
        @include m.grid(1, 2rem);
        @include m.tablet {
            @include m.grid(2, 2rem);
        }
        @include m.desktop {
            @include m.grid(4, 2rem);
        }
        .card {
            @include m.grid(2, 5rem);
            align-items: center;
            justify-content: center;
            @include m.tablet {
                @include m.grid(2, 2.5rem);
            }
            @include m.telefono {
                @include m.grid(2,  1.5rem);
            }

            &__img {
                width: 14rem;
                margin: 0 auto;
            }
            
            &__title {
                line-height: 1.5;
                margin: 0;
                font-size: 2.4rem;
            }

            &__p {
                margin: 0;
                font-size: 2rem;
            }
        }
    }
}